body {
    background-color: antiquewhite;
}

.flex-container {
    flex-flow: row wrap;
    display: flex;
    justify-content:space-between;

    border: 2px solid black;
    padding: 20px;
    background-color: azure;
    
}

.caja {
    
    border: 1px solid rgb(131, 95, 51);
    background-color: aquamarine;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    width: 120px;
    height: 120;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    margin: 5px;
    
}